DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres

DB_HOST_TEST=db
DB_PORT_TEST=5432
DB_NAME_TEST=SHIFT_test
DB_USER_TEST=postgres
DB_PASS_TEST=123

POSTGRES_DB=shift_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SECRET_AUTH=SECRET_AUTH_NOT_USE

SECRET_KEY=m1%l##39_+ruf%8x6js6qun6j^q8^4*4b=o^xu!3+wqe$%^j-k
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30